@model ForgotPasswordViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "فراموشی کلمه‌عبور";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>فراموشی کلمه‌عبور</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ارسال بزنید</p>

            <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="ایمیل">
                    <div class="input-group-append">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}