@model LoginViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ورود به سایت";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>ورود به سایت</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

            <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (ViewData["ErrorMessage"] != null)
                {
                    <div class="text-danger">@ViewData["ErrorMessage"]</div>
                }

                <div class="input-group mb-3">
                    <input asp-for="UserName" class="form-control" placeholder="نام کاربری">
                    <div class="input-group-append">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Password" class="form-control" placeholder="رمز عبور">
                    <div class="input-group-append">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="checkbox icheck">
                            <label>
                                <input asp-for="RememberMe"> مرا بخاطر بسپار
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a href="/ForgotPassword">رمز عبورم را فراموش کرده ام.</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}