@model ResetPasswordViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ورود به سایت";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>تغییر کلمه‌عبور</b></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">برای استفاده از امکانات سایت باید ابتدا کلمه‌عبور پیش‌فرض را تغییر دهید</p>
            <form asp-action="ResetPassword" asp-controller="Account" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="OldPassword" class="form-control" placeholder="کلمه‌عبور قبل">
                    <div class="input-group-append">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="NewPassword" class="form-control" placeholder="کلمه‌عبور جدید">
                    <div class="input-group-append">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="تکرار کلمه‌عبور جدید">
                    <div class="input-group-append">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ثبت</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}