@model CategoryDto

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">دسته‌بندی جدید</h3>
    </div>
    <form asp-action="Create" method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">ثبت</button>
        </div>
    </form>
</div>